# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store

# Idea
.idea

# WARNING - files below are supposed to be ignored (see README.md)
#.env
#service-account.json
